version: 2
jobs:
  build:
    working_directory: ~/tmp
    docker:
      - image: circleci/node:7
        auth: 
        username: _json_key
        password: $GOOGLE_AUTH 
        environment:
        BASH_ENV: ~/.bashrc
    steps:
      - checkout
      - run: npm install
      - run: npm test
      - setup_remote_docker
      - run: 
          name: Download & Install Google SDK
          command: curl https://dl.google.com/dl/cloudsdk/channels/rapid/install_google_cloud_sdk.bash -o gcloud_install.sh && sudo sh gcloud_install.sh --disable-prompts --install-dir="/bin"
      - run: 
          name: Update PATH
          command: echo 'export PATH=/bin/google-cloud-sdk/bin:$PATH' >> $BASH_ENV
      - run: 
          name: Dump Google Cloud Credentials to file
          command: echo ${GOOGLE_AUTH} > ${HOME}/gcp-key.json 
      - run:
          name: Authenticate as SA
          command: gcloud auth activate-service-account --key-file ${HOME}/gcp-key.json
      - run: 
          name: Activating gcloud configuration
          command: |
            gcloud --quiet config set project ${GOOGLE_PROJECT_ID}
            gcloud --quiet config set compute/zone ${GOOGLE_COMPUTE_ZONE}
            gcloud --quiet container clusters get-credentials ${GOOGLE_CLUSTER_NAME}
      - run: 
          name: Push to GCR
          command: |
            docker build -t eu.gcr.io/entur-dev-1287/hello-ci:test .
            gcloud docker -- push eu.gcr.io/entur-dev-1287/hello-ci:test
